[submodule "OutdoorFilmSample"]
	path = OutdoorFilmSample
	url = git@github.com:astaileyyoung/OutdoorFilmSample.git
[submodule "HorseFilmSample"]
	path = HorseFilmSample
	url = git@github.com:astaileyyoung/HorseFilmSample.git
[submodule "InstancesFilmSample"]
	path = InstancesFilmSample
	url = git@github.com:astaileyyoung/InstancesFilmSample.git
[submodule "FiguresFilmSample"]
	path = FiguresFilmSample
	url = git@github.com:astaileyyoung/FiguresFilmSample.git
[submodule "CarFilmSample"]
	path = CarFilmSample
	url = git@github.com:astaileyyoung/CarFilmSample.git
[submodule "ShotScaleFilmSample"]
	path = ShotScaleFilmSample
	url = git@github.com:astaileyyoung/ShotScaleFilmSample.git
[submodule "TrainFilmSample"]
	path = TrainFilmSample
	url = git@github.com:astaileyyoung/TrainFilmSample.git
[submodule "CinemetricsFilmSample"]
	path = CinemetricsFilmSample
	url = git@github.com:astaileyyoung/CinemetricsFilmSample.git
[submodule "ObjectsFilmSample"]
	path = ObjectsFilmSample
	url = git@github.com:astaileyyoung/ObjectsFilmSample.git
[submodule "FaceScaleFilmSample"]
	path = FaceScaleFilmSample
	url = git@github.com:astaileyyoung/FaceScaleFilmSample.git
